<!-- BEGIN_INCLUDE(esper:send-event) -->
    <esper:send eventPayload-ref="#[payload:]" />
<!-- END_INCLUDE(esper:send-event) -->

<!-- BEGIN_INCLUDE(esper:listen) -->
    <esper:listen statement="select count(*) from org.mule.api.MuleMessage.win:time_batch(10, &#39;FORCE_UPDATE, START_EAGER&#39;) having count(*) &lt; 5" />
<!-- END_INCLUDE(esper:listen) -->

<!-- BEGIN_INCLUDE(esper:filter) -->
<esper:filter eventPayload-ref="#[payload:]"
                      statement="select case when count(*) &gt; 3 then false else true end from TestEvent.win:time(5 min)"
                      key="case when count(*)&gt;3 then false else true end"/>
<!-- END_INCLUDE(esper:filter) -->
